
#board{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-gap: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #a79efc;
    padding: 10px;
   
    box-shadow: 0px 3px 8px #000;

}
article div figure:hover {
    box-shadow: 0px 8px 20px #000;
}
header{
    color: rgb(141, 46, 98);
}
.card{
    background-color: aqua;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 5px;
    cursor: pointer;
    backface-visibility: hidden;}
body{
    background-color: rgb(167, 255, 204);

}
/* element.style{
    color: yellow;
}
     */